li.done {

    text-decoration: line-through;

}

 button #update {

    display: inline-block;
    cursor: pointer;
}

.btn-primary{

    margin-top: 10px;
    cursor: pointer;
}

i.fas.fa-trash-alt{
    margin-right: 1rem;
    float:right;
}

i.fas.fa-trash-alt:hover{
    color:#B8B8B8;
    cursor: pointer;

}

card.mb-3.bg-transparent{
    border-color: rgba(255,255,255,6);
    box-shadow: 0px 3px 15px;
    
}

div.card.mb-3.bg-transparent{
    border-color: rgba(255,255,255,6);
    box-shadow: 0px 3px 15px;    
}

input.form-control{
    background-color: rgb(128,134,140);
    border:none;
    color: white;
}
input.form-control:hover{
    background-color: rgb(128,134,140);
    border:none;
    color: white;
}

div.card-header{

    color: rgb(128,134,140);
    border-color: rgba(255,255,255,6)
    
}


body {
    background-color: rgb(32,33,36);
}


h5.greeting{

    color:white;
    padding-top: 1rem;
    opacity: .6;

}

h6.logout {

    color:white;
    padding-top: 1rem;
    opacity: .6;

}

h6.logout:hover{

    color:white;
    opacity: 1;
    cursor:pointer;

}


i.fas.fa-clipboard-list{
    color:white;
}
