li.done {

    text-decoration: line-through;

}

 button #update {

    display: inline-block;
}

.btn-primary{

    margin-top: 10px;
}

i.fas.fa-trash-alt{
    margin-right: 1rem;
    float:right;
}