<!DOCTYPE html>
<html>
<title>To Do</title>
<head>
    <meta charset='utf-8' />
    <script src="https://kit.fontawesome.com/27c0bc580a.js" crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href='/static/css/styles.css' rel='stylesheet'/>



</head>
</!DOCTYPE html>
<body>
    <nav class="navbar navbar-dark bg-primary">
        {% if session['username']%}
            <h5 class="greeting">Hello, {{ session.username }}</h5>
            <!-- <form action="/logout" method="POST"> -->
                <a href="/logout"><h6 class="logout">Log Out</h6></a>
            <!-- </form> -->
        {% else %}
            <h5 class="greeting">Welcome to To Do App!</h5>
        {% endif %}
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
